/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* GLOBAL IMPORT FONT FAMILY  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap");

/* GLOBAL CSS START  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  outline: none;
}

html {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: magenta;

}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Lato',"Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: url("https://source.unsplash.com/1980x900/?cloud") 0% 0% / cover
    no-repeat;
  background-repeat: no-repeat;
}

/* CONTAINER CSS START  */
.container {
  margin-top: 50px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* SAIT MAIN CSS START  */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* TODO HEADING CSS START  */
.todo-heading {
  letter-spacing: 5px;
}

/* TODO LIST FORM CSS START  */
.todo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 5px 5px 40px #838383;
          box-shadow: 5px 5px 40px #838383;
  border-radius: 15px;
}

.todo-heading {
  font-size: 50px;
  color: rgb(150, 20, 150);
}

.todo-form {
  background-color: #ae41d0;
  background-image: -o-linear-gradient(
    47deg,
    #ae41d0 0%,
    #fc98f5 46%,
    #d62ed5 100%
  );
  background-image: linear-gradient(
    43deg,
    #ae41d0 0%,
    #fc98f5 46%,
    #d62ed5 100%
  );
  padding: 70px;
  border-radius: 15px;
}

.wrapper-inp-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px dashed rgb(134, 48, 134);
  border-radius: 5px;
  margin: 3px;
}

.todo-input {
  display: inline-block;
  width: 100%;
  max-width: 450px;
  height: 50px;
  margin: 0;
  padding: 5;
  font-size: 25px;
  padding-left: 20px;
  border: none;
  background-color: pink;
  border-radius: 5px 0 0 5px;
  color: rgb(150, 20, 150);
}

.add-todo-btn {
  width: 100%;
  max-width: 50px;
  height: 50px;
  border: none;
  background-color: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: pink;
  border-radius: 0 5px 5px 0;
  text-align: center;
}

.fa-plus-square {
  font-size: 30px;
  color: rgb(182, 23, 182);
  display: inline-block;
}

/* TODO LIST CSS START  */
.todo-list {
  list-style-type: none;
  width: 100%;
 min-width: 600px;
  height: 200px;
  margin-top: 20px;
}

.todo-item {
  min-width: 450px;
  height: 50px;
  padding-left: 25px;
  padding-right: 30px;
  border-radius: 10px;
  background-color: #de00c6;
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(#e462d7),
    color-stop(54%, #a825aa),
    to(#eb52d4)
  );
  background-image: -o-linear-gradient(
    left,
    #e462d7 0%,
    #a825aa 54%,
    #eb52d4 100%
  );
  background-image: linear-gradient(
    90deg,
    #e462d7 0%,
    #a825aa 54%,
    #eb52d4 100%
  );
  margin-bottom: 15px;
  -webkit-box-shadow: 5px 5px 20px #c9c5c5;
          box-shadow: 5px 5px 20px #c9c5c5;

}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 50px;
  font-size: 25px;
  color: white;
}

.todo-trash-btn {
  width: 100%;
  max-width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: rgb(160, 37, 160);
  padding-top: 5px;
}

/* TRASH ICON BTN  */
.fa-trash-alt {
  pointer-events: none;
  color: pink;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgb(235, 28, 166);
          box-shadow: inset 0 0 5px rgb(235, 28, 166);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: magenta;
  border-radius: 10px;
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(196, 36, 196);
}

/* MODAL CSS STAR  */

.modal {
  width: 100%;
  max-width: 520px;
  height: 100px;
  border-radius: 15px;
  background-color: #2983b8;
  background-image: -o-linear-gradient(45deg, #2983b8 48%, #af13ab 49%);
  background-image: linear-gradient(45deg, #2983b8 48%, #af13ab 49%);  
  -webkit-box-shadow: 0 0 20px #797979;  
          box-shadow: 0 0 20px #797979;
  position: absolute;
  color: #fff;
  font-weight: normal;
  padding: 10px;
  line-height: 30px;
  z-index: 1;
}

/* OVERLAY CSS START  */
.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

/* DELETE CSS START  */
.delete {
    display: none;
}
